

.responsiveHeight {
  position: absolute;
  top:15%;
  height: 70%;
  bottom: 0;
  right: 0;
  left: 0;
  padding:0;
  overflow: visible;
}

.responsiveHeight > .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.iosSlider {
  width: 100%;
  height: 100%;
  
}

.iosSlider .slider {
  width: 100%;
  height: 100%;
  margin-top: -99999px;
}

.iosSlider .slider img, .iosSlider .slider .videoslide {
  float: left;
  margin-right: 100px;
  height: 100%;

}



#prev-slide {
	
	width: 400px;
	display: block;
	position: fixed;
	bottom: 15%;
	top: 15%;
	cursor: pointer;
	z-index: 9;
}

#detail img.k-lazy-loaded.current {
	opacity: 1 !important;
}


#detail img.k-lazy-loaded {
	opacity: .2 !important;	
}

img.k-lazy-loading {
	background: url(css/preloader.gif) center center no-repeat;
}







